  body, html {
    height: 100%;
    background-image: url("../images/daniel-josef-AMssSjUaTY4-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }