  body, html {
    height: 100%;
    background-image: url("../images/microsoft-edge-DNADGmifFsc-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    text-align: center;
    margin: auto;
    padding: 0%;
  }